{% extends 'base.html' %}

{% csrf_token %}
{% block content %}
      <div class="alert alert-danger">This is a preview page!!</div>
         <h2 style="color:darkgoldenrod">{{ issue.title}}</h2>
         <p>{{issue.content|linebreaks}}</p>
       <small class="float-right" style="margin: 0 5%">Written by {{issue.author }} on {{issue.published}}</small>
         <hr>
             <button id="published">Publish</button>
     <div><a class="btn btn-default btnbackground btnfont" style="width: 60px;"
                href="{% url 'project:issue_tracker:edit_issue' project_id=project.id issue_id=issue.id %}">edit</a>
        </div>
{% endblock %}


{% block script %}
<script>
    $("#published").on('click', function () {
      $.ajax({
          url: '{% url 'project:issue_tracker:ajax_change_status'  project_id=project.id issue_id=issue.id %}',
          success: function (result) {
                    alert('Your issues have been published!');
                    location.href = '{% url 'project:issue_tracker:list_of_issue' project_id=project.id %}'
                },
          error: function (result) {
                    alert('error');
                }
      });

    });
  </script>
{% endblock %}
