{% extends 'base.html' %}
{% load tz %}

{% block title %}List of Issue{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% for issue in issues %}
         <div style="background:#fffbdb" class="issue-padding">
         <h3  class="btn-position"><a  style="color: #e0a800e8" href="{{issue.get_absolute_url}}">{{ issue.title }}</a></h3>
         <hr>
         {{ issue.content | truncatewords:40 | linebreaks}}
             <small>Written by {{ issue.author }} on {% timezone 'America/New_York' %} {{ issue.published}} {% endtimezone %}</small>
         </div>
     {% endfor %}
        {% include 'issue_tracker/paginator.html' with page=issues %}
   <button class="btn float-right btnbackground btn-position"><a  href="{% url 'project:issue_tracker:new_issue' project_id=project_id %}" class='btnfont'>New issues</a></button>
    </div>

{% endblock %}