container_commands:
  00_makemigrations:
    command: "/opt/python/run/venv/bin/python /opt/python/current/app/manage.py makemigrations"
    command: "/opt/python/run/venv/bin/python /opt/python/current/app/manage.py migrate --noinput"
    leader_only: true
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_createsu:
    command: "python manage.py createsu"
    leader_only: true
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tresla.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "tresla/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []
