{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h3 class="my-3"> Project Detail</h3>
        <ul class="list-group">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-2">Name: {{ project.name }}</div>
                    <div class="col-2">
                        <a class="btn btn-success" role="button"
                           href="{% url 'project:project_edit' project_id=project_id %}">Edit Name</a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-2">Owner: {{ project.owner }}</div>
                    <div class="col-2">
                        <a class="btn btn-danger" role="button"
                           href="{% url 'project:project_delete' project_id=project_id %}">Delete Project</a>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                Create Time: {{ project.timestamp }}
            </div>
            <div class="list-group-item">
                <div class="card">
                    <div class="card-header">Members:</div>
                    <div class="card-body" id="member-list">
                        {% if project.members.all %}
                            {% for member_schema in project.members.all %}
                                <div class="row my-1 align-items-center">
                                    <div class="col-2">{{ member_schema.member.username }}</div>
                                    <div class="col-2">
                                        <button class="btn btn-danger" type="button" id="delete-member" value="{{ member_schema.member.id }}"
                                           >Delete</button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            There is no member.
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <form action="" method="POST" id="selection-form">
                            {% csrf_token %}
                            <select class="btn btn-secondary dropdown-toggle" id="user_list">
                                {% for user in users %}
                                    <option class="dropdown-item" value="{{ user.id }}">
                                        {{ user.username }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-success" type="button" value="Add Member" id="add-member">
                        </form>
                    </div>
                </div>
            </div>
        </ul>
    </div>




{% endblock %}


{% block script %}
    <script>
        var url = $('#add-member').attr('action');
        var storage = '';
        $("#add-member").on('click', function (e) {
            e.preventDefault();
            var user_id = $('#user_list').val();
            $.ajax({
                type: 'POST',
                url: '{% url 'project:project_member_create' project_id=project_id %}',
                data: {user_id: user_id},
                success: function (result) {
                    location.href = '{% url 'project:project_detail' project_id=project.id %}'
                },
                error: function (result) {
                    alert('error');
                    console.info(data);
                }
            });
        });
        $('#member-list >div>div>button').on('click', function (e) {
            e.preventDefault();
            var user_id = $(this).val();
            $.ajax({
                type: 'POST',
                url: '{% url 'project:project_member_delete' project_id=project_id %}',
                data: {user_id: user_id},
                success: function (result) {
                    location.href = '{% url 'project:project_detail' project_id=project.id %}'
                },
                error: function (result) {
                    alert('error');
                    console.info(data);
                }
            });
        });
    </script>
{% endblock %}