{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h3 class="my-3">Project {{ project_id }} detail</h3>
    <div class="display-inline">
        <a class="btn btn-success" role="button"
                href="{% url 'project:project_edit' project_id=project_id %}">Edit</a>
    </div>
    <div class="display-inline">
        <a class="btn btn-success" role="button"
                href="{% url 'project:project_delete' project_id=project_id %}">Delete</a>
    </div>
    <div class="display-inline">
        <form action="" method="POST" id="selection-form">
            {% csrf_token %}
            <select class="btn btn-secondary dropdown-toggle" id="member_list">
                {% for user in users %}
                    <option class="dropdown-item" value="{{ user.id }}">
                        {{ user.username }}
                    </option>
                {% endfor %}

            </select>


            <input class="btn btn-success" type="button" value="Add member" id="selection-button">
        </form>
</div>
    </div>

{% endblock %}


{% block script %}
    <script>
        var url = $('#selection-button').attr('action');
        var storage = '';
        $("#selection-button").on('click', function (e) {
            e.preventDefault();
            var value = $('#member_list').val();
            $.ajax({
                type: 'POST',
                url: '{% url 'project:project_add_member' project_id=project_id %}',
                data: {user_id: value},
                success: function (result) {
                    location.href = '{% url 'project:project_add_members' project_id=project_id user_id=user.id %}'
                },
                error: function (result) {
                    alert('error');
                    console.info(data);
                }
            });
        });
    </script>
{% endblock %}