{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h3 class="my-3">Project List</h3>
        <a class="btn btn-primary my-3" role="button" href="{% url 'project:project_create' %}">Create new project</a>
        {% if project_list %}
            <div class="row">
                {% for project in project_list %}
                    <div class="col-sm-4" style="padding: 5px;">
                        <div class="card text-center">
                            <div class="card-body">
                                <a class="card-link" href={% url 'project:project_detail' project_id=project.id %}>{{ project.name }}</a>
                                <div class="card-text">
                                    <small>{{ project.timestamp }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No project are available.</p>
        {% endif %}
    </div>
{% endblock %}
