{% extends 'base.html' %}

{% block content %}
    <p>Tasks of project {{ project_id }}:</p>
    <p><a href="{% url 'project:task_tracker:task_list_create' project_id=project_id %}">[new task list]</a></p>
    {% if task_list_list %}
        <ul>
        {% for task_list in task_list_list %}
            <li>
                <p>{{ task_list.name }}
                    <a href="{% url 'project:task_tracker:task_list_update' project_id=project_id task_list_id=task_list.id%}">[edit]</a>
                    <a href="{% url 'project:task_tracker:task_list_delete' project_id=project_id task_list_id=task_list.id%}">[del]</a>
                    :
                </p>
                <p><a href="{% url 'project:task_tracker:task_create' project_id=project_id task_list_id=task_list.id%}">[new task]</a></p>
                <ul>
                    {% if task_list.tasks.all %}
                         {% for task in task_list.tasks.all %}
                            <li><p>
                                {{ task.topic }}
                                <a href="{% url 'project:task_tracker:task_update' project_id=project_id task_list_id=task_list.id task_id=task.id%}">[edit]</a>
                                <a href="{% url 'project:task_tracker:task_delete' project_id=project_id task_list_id=task_list.id task_id=task.id%}">[del]</a>
                            </p></li>
                        {%  endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There is no task list.</p>
    {% endif %}
{% endblock %}