
{% extends 'base.html' %}

{% block title %}Chat Room{% endblock %}

{% block content %}
    <div style="background:url(https://images.pexels.com/photos/352096/pexels-photo-352096.jpeg?auto=compress&cs=tinysrgb&h=350); background-repeat:no-repeat;">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <textarea style="background:whitesmoke !important;border:double 4px orange" id="communication-log" cols="100%" rows="20%" readonly></textarea><br/>
        <input id="communication-message-input" type="text" size="94" autofocus placeholder="Type a message" style="border:solid 1px orange;"/>
        <input id="communication-message-submit" type="button" class="btn btn-success" value="Send"/>
    </div>
    <div class="col-sm-2"></div>
    </div>

{% endblock %}
{% block script %}
    <script>
        function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }



        var channelId = {{ channel_id_json }};

        var communicationSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/project/{{ project_id }}/channel/' + channelId + '/');

        communicationSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.querySelector('#communication-log').value += ( message + '\n');
        };

        communicationSocket.onclose = function(e) {
            console.error('Communication socket closed unexpectedly');
        };

        document.querySelector('#communication-message-input').focus();
        document.querySelector('#communication-message-input').onkeyup = function(e) {
            if (e.keyCode == 13) {  // enter, return
                document.querySelector('#ccommunication-message-submit').click();
            }
        };

        document.querySelector('#communication-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#communication-message-input');
        var message = '{{ request.user.username }}\:'+messageInputDom.value+'---'+formatAMPM(new Date());
            communicationSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };
    </script>
    <style>
        body {
         background-image: url(https://www.planwallpaper.com/static/images/backgrounds_2.jpg); background-repeat: no-repeat;
        }
    </style>
{% endblock %}