{% extends 'base.html' %}
{% block style %}
    <style>
        input[type=submit] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
}
</style>
{% endblock %}
{% block content %}
    <div class="section" style="height: 80vh">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="collection">
                        {% for user in users %}
                            <a href="{% url 'project:communication_channel:chat' project_id=project_id sender_id=request.user.id receiver_id=user.id %}"
                               id="{{ request.user.id }}" class="list-group-item list-group-item-action row">
                                <img src="https://frontend-1.adjust.com/new-assets/images/site-images/interface/user.svg"
                                     class="col-sm-4">
                                <div class="col-sm-8">
                                    <span class="title" style="font-weight: bolder">{{ user.username }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col s9">
                <div class="card">
                    <div id="board" class="alert alert-dark" role="alert"
                         style="height: 68vh; padding: 5px; overflow-y: scroll">
                        {% block messages %}

                        {% endblock %}
                    </div>
                    <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="input-field">
                                    <input id="id_message" name="message" type="text" placeholder="Type your message..">
                                </div>
                            </div>
                            <div class="col-sm-11" style="line-height: 80px">
                                <input class="btn btn-floating blue lighten-3 waves-effect waves-light" type="submit"
                                       value="Send"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% load staticfiles %}
{% endblock %}

{% block script %}
    <script src="{% static 'JS/chat.js' %}"></script>
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending

        scrolltoend();
        $('#chat-box').submit(function (event) {
            event.preventDefault();
            var message = $('#id_message');
            send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
            message.val('');
        })

    </script>
{% endblock %}
