{% extends 'base.html' %}
{% block style %}
    <style>
        input[type=submit] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="card my-3">
                    <div class="card-header">
                        Channels
                    </div>
                    <div class="card-body">
                        <a class="btn btn-success btn-position" role="button"
                           href="{% url 'project:communication_channel:channel_create' project_id=project.id %}">New
                            Channel</a>
                        <ul class="list-group my-3">
                            {% if channels %}
                                {% for channel in channels %}
                                    <li class="list-group-item">
                                        <a href="{% url 'project:communication_channel:channel_view' project_id=project.id channel_id=channel.id %}"
                                           id="{{ channel.id }}">
                                            {{ channel.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header">
                        Private Message
                    </div>
                    <div class="card-body">
                        <ul class="list-group my-3">
                            {% if users %}
                                {% for user in users %}
                                    {% if user.id != request.user.id %}
                                        <li class="list-group-item">
                                            <a href="{% url 'project:communication_channel:message_view' project_id=project.id target_id=user.id %}"
                                               id="{{ request.user.id }}">
                                                {{ user.username }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-10">
                {% block chat_view %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

