{% extends 'base.html' %}
{% block style %}
    <style>
        input[type=submit] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <p>Channels:</p>
                {% if channels %}
                    {% for channel in channels %}
                        <a href="{% url 'project:communication_channel:channel_view' project_id=project.id channel_id=channel.id %}"
                           id="{{ channel.id }}" class="list-group-item list-group-item-action row">
                            <span class="title" style="font-weight: bolder">{{ channel.name }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
                <p>Messages:</p>
                {% for user in users %}
                    {% if user.id != request.user.id %}
                        <a href="{% url 'project:communication_channel:message_view' project_id=project.id target_id=user.id %}"
                           id="{{ request.user.id }}" class="list-group-item list-group-item-action row">
                            <span class="title" style="font-weight: bolder">{{ user.username }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-9">
                {% block chat_view %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

